body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

#container {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    height: 620px;
    margin-bottom: 80px;

}

#main-head {
    font-size: 50px;
    color: azure;
    margin-top: 0px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 120px;
    padding-bottom: 0px;
}

#main-head p {
    font-weight: 800;
}

#main-head span {
    margin-left: 27%;
}

#main2-head {
    color: aliceblue;
    font-size: 18px;
    margin-left: 30%;
    margin-right: 25%;
}

.main3-head a {

    color: azure;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    margin-left: 570px;
    padding-left: 5px;
    padding-top: 7px;
    padding-right: 5px;
    padding-bottom: 7px;
    background-color: tomato;
    border-radius: 5px;

}

.container2 {
    margin-bottom: 80px;
    margin-top: 60px;
}

.part1 h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 900px;

}

.part1 p {
    text-align: center;
    font-size: 18px;
}

.part2 {
    margin-top: 20px;
    display: flex;

    /* flex-direction: row; */
}

#amount-id {
    margin-left: 300px;

}

#amount-id2 {
    border: 2px solid tomato;
    color: tomato;
    background-color: rgba(224, 66, 38, 0.212);

}

.amount {
    color: rgb(139, 139, 138);
    margin-right: 17px;
    font-size: 20px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 3px;
}

#donate-id {
    margin-top: 40px;
}

.image {
    height: 70px;
    width: 70px;
    background-color: rgba(54, 172, 172, 0.356);
}

.part3 {
    display: flex;
    margin-left: 9%;
    margin-right: 9%;
}

.ddesign {
    margin-right: 30px;
}

.design p {
    text-align: left;
}

.design h1 {
    font-size: 20px;
}

#background-1 {
    background-color: rgba(54, 172, 172, 0.13);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
}

#background-2 {
    background-color: rgba(255, 99, 71, 0.185);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
}

#background-3 {
    background-color: rgba(255, 255, 0, 0.185);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
}

.section {
    display: flex;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 90px;
}

.image1 {
    width: 400px;
    height: 400px;
}

#button {
    background-color: tomato;
    width: 29%;
    padding-left: 5px;
    padding-top: 7px;
    padding-right: 5px;
    padding-bottom: 7px;
    border-radius: 5px;
}

#button a {
    text-decoration: none;
    color: azure;

}

.design5 p {
    text-align: left;
}

.design5 h1 {
    font-size: 40px;
}

.space {
    margin: 20px;
}

.after-footer {
    padding: 60px;
    margin-left: 20%;
    margin-right: 20%;

    background-color: rgba(231, 231, 54, 0.226);
}

#form {
    margin-left: 55px;
}

.size {
    height: 40px;
    width: 350px;
    padding-right: 0;
    background-color: rgba(148, 148, 148, 0.349);
    border-radius: 5px;
    border-color: rgba(148, 148, 148, 0.349);

}

.size1 {
    height: 47px;
    width: 180px;
    background-color: tomato;
    border-radius: 5px;
    border-color: tomato;
}